<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="#">MyCompany</a>

    
    <div class="d-flex">
      <button type="button" class="btn btn-danger mx-1" routerLink="/employees">
        Employees
      </button>

      <button type="button" class="btn btn-warning mx-1" routerLink="/attributes">
        Attributes
      </button>

      <button type="button" class="btn btn-success mx-1" routerLink="/map">
        Map
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyCompany</a>

    <div class="d-flex">
      <!-- Employees Dropdown -->
      <div class="btn-group mx-1">
        <button
          type="button"
          class="btn btn-danger dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Employees
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/employees/list">Employee List</a></li>
          <li><a class="dropdown-item" routerLink="/employees/add">Add Employee</a></li>
        </ul>
      </div>

      <!-- Other buttons -->
            <div class="btn-group mx-1">
        <button
          type="button"
          class="btn btn-warning dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Attributes
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/attributes/list">Attribute List</a></li>
          <li><a class="dropdown-item" routerLink="/attributes/add">Add Attribute</a></li>
        </ul>
      </div>

      <button type="button" class="btn btn-success mx-1" routerLink="/map">
        Map
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>